.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para centrar la animación en el contenedor */
  }
  
  .loading-animation div {
    width: 24px;
    height: 24px;
    margin: 5px;
    border-radius: 50%;
    background-color: #3498db;
    animation: loading 0.6s infinite alternate;
  }
  
  @keyframes loading {
    to {
      opacity: 0.3;
      transform: scale(0.7);
    }
  }
  
